- content_for :full_width do
  = paginate @subscriber_visits

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= link_to 'Email↕', simple_sort_url(:email, params), title: :email
        %th= link_to 'Path↕',  simple_sort_url(:path, params),  title: :path
        %th= link_to 'CreatedAt↕', simple_sort_url(:created_at, params), title: :created_at

    %tbody
      - @subscriber_visits.each do |visit|
        %tr
          %td= visit.email
          %td= visit.path
          %td= visit.created_at.to_time.to_s(:db)

  = paginate @subscriber_visits
