- content_for :express_nav do
  %p= link_to t('app.cabinet'), cabinet_path

= render partial: 'the_notification/flash'

%h1= t('.title')

= form_for @subscriber, class: 'form-inline' do |f|
  .form-group
    = f.label :email, t('.email')
    = f.text_field :email, class: 'form-control'

  .form-group.red_font
    = t('.not_confirmed_yet') if @subscriber.confirmation_token

  .form-group
    = f.submit t('.save'), class: 'btn btn-info'
