- content_for :express_nav do
  %p= link_to t('app.cabinet'), cabinet_path

= render partial: 'the_notification/flash'

%h1= t('.title')

= form_for @subscriber, class: 'form-inline' do |f|
  .form-group
    = f.label :email, t('.email')
    = f.text_field :email, class: 'form-control'

  .form-group.red_font
    = t('.not_confirmed_yet') if @subscriber.confirmation_token

  .form-group
    - options = options_for_select(subscriber_states, get_subscriber_state(@subscriber))
    = f.label  :state, t('.state')
    %br
    = f.select :state, options, class: 'form-control'

  .form-group
    = f.submit t('save', scope: %w[ subscribers edit ] ), class: 'btn btn-info'
