%h1= t('.title')
%li= link_to t('.link_new'), new_subscriber_path
%li= link_to "Полный список",   full_list_subscribers_path
%li= link_to "Список активных", active_list_subscribers_path

%br
%p Всего записей: #{ Subscriber.count }

- content_for :full_width do
  = paginate @subscribers

  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th= check_box_tag :select_all, nil, false, id: nil
        %th= link_to 'Email↕',      simple_sort_url(:email, params), title: :email
        %th= link_to 'Status↕',     simple_sort_url(:state, params), title: :state
        %th= link_to 'Created at↕', simple_sort_url(:created_at, params), title: :created_at
        %th= link_to 'Updated at↕', simple_sort_url(:updated_at, params), title: :updated_at
        %th= t('.manage')
    %tbody
      - @subscribers.each.with_index do |subscriber, i|
        %tr{ class: state_color( subscriber.state_name ) }
          %td= check_box_tag :selected_subscriber, subscriber.id, false, id: nil
          %td
            %p{ title: t(".#{ subscriber.state }") }= subscriber.email

          %td= subscriber.state
          / %td= content_tag :button, "Ссылка", type: 'submit', class: 'unsubscribe_button', 'data-title' => t('.unsubscribe_button.title'), 'data-text' => unsubscribe_url(subscriber.email.to_the_encrypted)

          %td= subscriber.created_at.strftime('%d.%m.%Y')
          %td= subscriber.updated_at.strftime('%d.%m.%Y')

          %td
            = link_to 'Просмотр', subscriber_path(subscriber)
            = link_to 'Правка', edit_subscriber_path(subscriber)
            = link_to 'Удалить', subscriber_path(subscriber), method: :delete, data: { confirm: 'Are you sure?' }

  %p= link_to 'Удалить выделенные', delete_selected_subscribers_path, remote: true, method: :delete, data: { role: :delete_selected, params: { selected: '' }, confirm: 'Вы уверены, что хотите выполнить массовое удаление?' }

  = paginate @subscribers
